{#
/**
* @file
* Default theme implementation for 'forcontu_theming_dimensions'.
*
* Available variables:
* - length.
* - width.
* - height
* - unit (dafault to cm.)
*/
#}

{#{{ attach_library('galicloud_theming/global') }}#}
<span class="item-dimensions">
{% trans %}
  Dimensions (length x width x height): {{ length }} x {{ width }} x {{ height }} {{ unit }}
{% endtrans %}
</span>
